@use "./variables" as *;
@use "./breakpoints" as *;
@use "./flex" as *;

// global settings
* {
  box-sizing: border-box;
}

// import fonts
@font-face {
  font-family: "Unifraktur Cook";
  font-weight: 700;
  src: url("./assets/fonts/UnifrakturCook-Bold.ttf") format("truetype");
}

html,
body {
  @include flex($direction: column);
  height: 100%;
}

body {
  background-color: $light-primary;
  color: $dark-primary;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  @include flex($direction: column);
  flex-grow: 1;
  overflow: auto;
}

// headings
h1,
h2 {
  font-family: "Unifraktur Cook";
  font-weight: 700;
  letter-spacing: 2px;
}

// paragraphs
p {
  line-height: 1.75;
}
