// colors
$dark-primary: #222;
$dark-secondary: #2b193d;
$dark-tertiary: #0c6291;

$light-primary: #fff;
$light-secondary: #fcf9fe;
$light-tertiary: #fbfef9;

$success: #0c6291;
$warn: #ef946c;
$danger: #a63446;

// breakpoints
$tablet-break: 768px;
$desktop-break: 1280px;
