@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/flex" as *;
@use "../../styles/partials/starry-background" as *;

.transcription {
  @include flex($direction: column);
  height: 100vh;

  @include tablet {
    @include starry-background;
  }

  &__content-container {
    background-color: $light-primary;
    border-radius: $border-radius;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 320px;
    padding: 1rem;
    
    @include tablet {
      max-width: 600px;
      padding: 2rem;
    }
  }

  &__image-display {
    @include flex($justify: center);
  }

  &__image {
    box-shadow: 0 0 2px $dark-primary;
    max-width: 300px;
  }

  &__text {
    font-family: "Unifraktur Cook";
    font-size: 3rem;
    font-weight: bold;
    height: 3.75rem;
    margin: 1rem 0;
    text-align: center;
  }

  &__letter {
    &--error {
      color: $danger;
    }
  }

  &__interface {
    @include flex($direction: column);
    width: 100%;
  }

  &__input {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
  }

  &__controls {
    @include flex;
    gap: 1.5rem;
    padding: 2rem 0;

    & > * {
      flex-grow: 1;
    }
  }
}
