@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/flex" as *;

.site-header {
  @include flex($direction: column, $align: center);
  background-color: $dark-primary;
  color: $light-tertiary;
  gap: 1.5rem;
  padding: 1.25rem 1rem;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 2rem 2rem 2rem;
  }

  &__link,
  &__link:visited {
    border: none;
    color: $light-tertiary;
    text-decoration: none;
  }

  &__title {
    font-family: "Unifraktur Cook";
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__group {
    @include flex($justify: flex-end, $align: center);
    padding: 0 1rem;
    width: 100%;

    @include tablet {
      padding: 0;
      width: auto;
    }
  }

  &__score {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
  }
}
