@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/flex" as *;

.site-header {
  background-color: $dark-primary;
  color: $light-tertiary;
  padding: 1.25rem 1rem;
  width: 100%;

  @include desktop {
    padding: 1.75rem 2rem 3rem 2rem;
  }

  &__container {
    @include flex($direction: column, $align: center);
    gap: 1.5rem;

    @include tablet {
      flex-direction: row;
      gap: 5rem;
      justify-content: center;
    }
  }

  &__link,
  &__link:visited {
    border: none;
    color: $light-tertiary;
    text-decoration: none;
  }

  &__title {
    font-family: "Unifraktur Cook";
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__group {
    @include flex($justify: space-between, $align: center);
    gap: 1.5rem;
    padding: 0 1rem;
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      padding: 0;
      width: auto;
    }
  }

  &__score {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
  }
}
