@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/flex" as *;
@use "../../styles/partials/starry-background" as *;

.landing-page {
  @include flex($direction: column);
  flex-grow: 1;

  @include tablet {
    @include starry-background;
  }

  &__content-container {
    background-color: $light-primary;
    border-radius: $border-radius;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 320px;
    padding: 1rem;

    @include tablet {
      max-width: 600px;
      padding: 2rem;
    }
  }

  &__buttons {
    @include flex($justify: flex-end);
    gap: 1rem;
  }
}
